# 環境變數檔案 (包含敏感資訊)
.env

# 保留資料夾結構但忽略內容
reports/*
!reports/.gitkeep
uploads/*
!uploads/.gitkeep

# Python 編譯後的檔案
__pycache__/

# 課程列表
Course List/
CsvProcessors/html_parser/student_htmls/
CsvProcessors/password_importer/CYCUIUBM/
CsvProcessors/password_importer/NCUEC/
CsvProcessors/password_importer/NCUFN/
CsvProcessors/html_parser/EC_output.xlsx
CsvProcessors/html_parser/FN_output.xlsx
CsvProcessors/html_parser/IUBM_output.xlsx

# Google Drive OAuth2
token.json
credentials.json